@font-face {
    font-family: IBMVGA8;
    src: url(../fonts/ibm_vga8.eot);
    src: url(../fonts/ibm_vga8.eot?#iefix) format('embedded-opentype'),
         url(../fonts/ibm_vga8.woff2) format('woff2'),
         url(../fonts/ibm_vga8.woff) format('woff'),
         url(../fonts/ibm_vga8.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
  }

:root
{
    --bg: blue;
    --fg: white;
}

*
{
    margin: 0;
    font-family: "Lucida Console", Monaco, monospace
}

html
{
    height: 100%;
    display: flex;
    justify-content: center;
}

body
{
    line-height: 1;
    min-height: 100%;
    width: 480pt;
    background: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header
{
    width: 100%;
}

main
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--fg);
}

h1, p
{
    width: 100%;
}

h1
{
    color: var(--bg);
    background-color: var(--fg);
    font-size: 24pt;
    text-align: center;
}

p
{
    color: var(--fg);
    font-size: 12pt;
    margin: 24pt;
    font-style: italic;
    text-align: justify;
    text-align-last: justify;
}

.links
{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

a
{
    text-decoration: none;
    color: var(--fg);
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding: 6pt;
}

a:hover
{
    background: var(--fg);
    color: var(--bg);
}