:root
{
    --bg: blue;
    --fg: white;
    --light: white;
    --dark: blue;
}

*
{
    margin: 0;
    font-family: "Lucida Console", Monaco, monospace
}

html
{
    height: 100%;
    display: flex;
    justify-content: center;
}

body
{
    line-height: 1;
    min-height: 100%;
    width: 480pt;
    background: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upper, .lower
{
    flex: 1;
}

.upper
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#moon
{
    stroke-width: 0
}

#moonbg
{
    fill: var(--dark); 
  }

#moonfg
{
    fill: var(--light);
}

#moonphase
{
    fill: var(--light);
}

header
{
    width: 100%;
}

main
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--fg);
}

h1, p
{
    width: 100%;
}

h1
{
    color: var(--bg);
    background-color: var(--fg);
    font-size: 24pt;
    text-align: center;
}

p
{
    color: var(--fg);
    font-size: 12pt;
    margin: 24pt;
    font-style: italic;
    text-align: justify;
    text-align-last: justify;
}

.links
{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

a
{
    text-decoration: none;
    color: var(--fg);
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding: 6pt;
}

a:hover
{
    background: var(--fg);
    color: var(--bg);
}

@media screen and (orientation: portrait) {
    header {
      margin-top: 20pt;
    }
    
    p {
      width: 85%;
    }
    svg {
      margin-top: 20pt;
    }
  }